.container {

}

.mainTitle {
    font-size: 58px;
    color: #f0945d;
}

.title {
    margin-top: 25px;
    font-size: 42px;
}

.artist {
    display: flex;
    gap: 50px;
    margin: 50px auto 75px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: .3s ease;
    padding: 10px 20px;
}

.artist:hover {
    background-color: #ecd5b4;
}

.artist:nth-child(2n+1) {
    flex-direction:row-reverse;
    background-color: #f0e4d3;
}

.artist:nth-child(2n+1):hover {
    background-color: #ecd5b4;
}

.info {
    cursor: pointer;
}

.name {
    font-size: 42px;
    margin-bottom: 10px;
}

.name:hover {
    color: rgb(240, 148, 93);
}

.bio {
    font-weight: 300;
    font-size: 20px;
    width: 75%;
}

.imgContainer {
    height: 300px;
    width: 500px;
    position: relative;
    cursor: pointer;
}

.img {
    object-fit: cover;
    border-radius: 10px;
}