.mainTitle {
    font-size: 46px;
    margin-bottom: 20px;
}

.itemList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    align-self: center;
    margin: 40px 0;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #f0945d;
    border-radius: 12px;
    padding: 10px;
    background-color: transparent;
    gap: 8px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: color 0.3s;
}

.item:hover h2 {
    color: #f0945d;
    text-decoration: underline;
}

.imgContainer {
    width: 100%;
    position: relative;
    height: 300px;
}

.img {
    object-fit: cover;
    border-radius: 12px;
}

.name {
    font-size: 28px;
}

.desc {
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 8px 0;
}

.location {
    font-weight: 300;
}

@media screen and (max-width: 860px) {
    .itemList {
        display: flex;
        flex-direction: column;
    }
}