.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    font-size: 30px;
    padding: 20px;
    border: none;
    cursor: pointer;
    background-color: #f0945d;
    color: white;
    border-radius: 10px;
    width: max-content;
    transition: all .3s;
}

.login:hover {
    -webkit-box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.66);
    box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.66);
}