.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.item1, .item2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 40px;
  border-radius: 120px;
  box-shadow: 6px 8px 6px 0px rgba(0, 0, 0, 0.25);
}

.title {
    font-size: 72px;
    /* background: linear-gradient(to bottom, #D4955A,); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-align: center;
  }

.desc {
    text-align: center;
    padding-top: 12px;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 860px) {
    .item2 {
      display: none;
    }

    .title {
      font-size: 56px;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .button {
      margin: 0 auto;
    }
}