.container {
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 40px;
    color: #f0945d;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    gap: 25px;
}

.link:hover {
    transition: .2s;
    scale: 1.1;
    color: #f0965f;
}

.login {
    cursor: pointer;
}

.login:hover {
    transition: .2s;
    scale: 1.1;
    color: #f0965f;
}